@use '@angular/material' as mat;
@include mat.core();
@import "../../../theme";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: mat.get-color-from-palette($Webkert-kotprog-accent, default);
  text-align: center;
}

img{
  width: 60vh; height: 60vh;
}

.title {
  font-size: 5vh;
  font-weight: bold;
  margin-top: -2vh;

  text-shadow: -0.5px 0.5px 0 black, 0.5px 0.5px 0 black, 0.5px -0.5px 0 black, -0.5px -0.5px 0 black;
}

.description {
  font-size: 3vh;
  font-weight: bold;
  margin-top: -1.5vh;

  text-shadow: -0.5px 0.5px 0 black, 0.5px 0.5px 0 black, 0.5px -0.5px 0 black, -0.5px -0.5px 0 black;
}

a {
  font-size: 2.25vh;
  margin-top: 1.5vh;
}
