@use '@angular/material' as mat;
@include mat.core();
@import "../../../theme";

img{
  width: 6.5vh; height: 6.5vh;
}
.title{
  color: whitesmoke;
  font-size: 3vh;
  font-weight: 600;
}
.title span:first-of-type{
  color: mat.get-color-from-palette($Webkert-kotprog-primary, default);
}
.title span:last-of-type{
  color: mat.get-color-from-palette($Webkert-kotprog-accent, default);
}
a{
  display: block;

  font-size: 2vh;
  color: whitesmoke;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 4vh;
  letter-spacing: 2px;

  transition: all ease-out 300ms;
}
a:after {
  position: absolute;
  bottom: 0; left: 50%;

  width: 0;height: 3px;

  background-color: mat.get-color-from-palette($Webkert-kotprog-primary, default);
  transform-origin: bottom right;

  border-radius: 15px;

  transition: width 0.3s ease 0s, left 0.3s ease 0s;

  content: '';
}
a:hover{
  color: #ffffff;
}

a:hover:after{
  left: 0;

  width: 100%;
}

ul{
  list-style: none;
}

li{
  position: relative;

  display: block;

  text-align: center;

  margin: 0 1vh;
}

.active{
  color: whitesmoke !important;
  font-size: 2.75vh;
  font-weight: 600;
}
.active:after{
  width: 100% !important;
  left: 0 !important;
  background-color: mat.get-color-from-palette($Webkert-kotprog-primary, default);;
}

