<mat-sidenav-container>
  <mat-sidenav #sidenav (click)="onClose(true, sidenav)">
    <app-side-menu (onCloseSideNav)="onClose($event, sidenav)"></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button fxHide.gt-xs (click)="onToggleSideNav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
      <div>Nemzeti E-Gaz</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="1.5vh">
          <li><a routerLink="/main" routerLinkActive="active">Main</a></li>
          <li><a routerLink="/not-found" routerLinkActive="active">Not Found</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<router-outlet></router-outlet>-->
