<h1 mat-dialog-title class="title">
  {{ data?.title ? data?.title : "Overlay" }}
  <button mat-icon-button  fxHide.lt-md (click)="close()" style="position: absolute; right: 0">
    <mat-icon>close</mat-icon>
  </button>
</h1>
@if(data?.content){
  <div fxHide.xs mat-dialog-content> {{ data?.content }} </div>
}
<div mat-dialog-actions fxLayout fxLayoutAlign="center center" fxLayoutGap="1.5vh" style="position: absolute; bottom: 0; width: 100%;">
  @if (data?.accept){
    <button (click)="data?.accept(); close()" mat-raised-button color="accent">Elfogad</button>
  }
  <button (click)="close()" mat-raised-button color="primary">Bezár</button>
</div>
