<main class="main">
  <div class="welcome">
    <img src="assets/gazora_logo.png" class="logo" />
    <div class="gas-meter">
      <div class="slot">D</div>
      <div class="slot">I</div>
      <div class="slot">K</div>
      <div class="slot">T</div>
      <div class="slot">A</div>
      <div class="slot">L</div>
      <div class="slot">D</div>
      <div class="slot"></div>
      <div class="slot">B</div>
      <div class="slot">E</div>
    </div>
  </div>
  <div class="content"></div>
</main>
