@use '@angular/material' as mat;
@include mat.core();
@import "theme";

@font-face {
  font-family: digital;
  src: url("assets/fonts/digital-7.ttf");
}

@font-face {
  font-family: noto;
  src: url("assets/fonts/NotoSans_Condensed-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;

  height: 100%;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field{
  width: 60% !important;
}
mat-label {
  font-size: 2.25vh !important;
}

mat-error{
  display: flex !important;
  align-items: center;
  justify-content: center;

  background: gainsboro;
  position: absolute;
  left: 0;
  width: 100%;

  padding: 1vh 0;

  text-align: left;

  white-space: pre-line;
}

form .form-title{
  font-size: 7vh;
  font-weight: bolder;
  color: mat.get-color-from-palette($Webkert-kotprog-accent, default);

  text-align: center;

  text-shadow: -0.5px 0.5px 0 black,
  0.5px 0.5px 0 black,
  0.5px -0.5px 0 black,
  -0.5px -0.5px 0 black;
}

mat-sidenav-content{
  background: #818589;
  height: 100vh !important;
}
